<div id="searchBox" class="widget-box">
    <h3>Search</h3>
    <div>
        <div class="input-group">
            <input type="text" class="form-control" data-bind="textInput: SearchTerm">
            <span class=" input-group-btn">
                <button class="btn btn-default btn-search" type="button" data-bind="click: Search"><i class="fa fa-search"></i></button>
            </span>
        </div><!-- /input-group -->
    </div>
</div>

