@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <!-- Blog Post Content Column -->
        <div class="col-lg-offset-2 col-lg-8 col-md-2 col-md-8">

            <!-- Page Header -->
            <header class="entry-header">
                <div class="post-heading">
                    <h1>Edit Blog Posts</h1>
                </div>
            </header>
        </div>

        <div>

            <!-- TODO:  add code to retrieve table of data -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th><th>Title</th><th>Author</th><th>Category</th><th>Date Posted</th><th>Text</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>11</td><td>Dummmy Data</td><td>Shaun Cummins</td><td>Test</td><td>10/23/2014</td><td>Sample blog text</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>


