@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row" id="blogtable">
        <!-- Blog Post Content Column -->
        <div class="col-lg-offset-2 col-lg-8 col-md-2 col-md-8">

            <!-- Page Header -->
            <header class="entry-header">
                <div class="post-heading">
                    <h1>Edit Blog Posts</h1>
                </div>
            </header>
        </div>
        <span id="loading" data-bind="visible: IsLoading"><img src="~img/ajax-loader.gif" /></span>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox"/></th><th>Title</th><th>Author</th><th>Category</th><th>Date Posted</th><th>Tags</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Posts">
                    <tr>
                        <td>
                            <input type="checkbox"/>
                        </td>
                        <td>
                            <a data-bind="attr: { href: EditPostUrl }"><span data-bind="text: Title"></span></a>
                        </td>
                        <td data-bind="text: Author"></td>
                        <td data-bind="text: Category"></td>
                        <td data-bind="text: DatePosted"></td>
                        <td data-bind="text: TagList"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/dashboard")
}






