
 <div id="postList" class="widget-box">
    <h3>Recent Posts</h3>   
     <div data-bind="foreach: Posts">
        <div class="post-box">
            <a data-bind="attr: { href: PostUrl }">
                <img data-bind="attr:{ src: MainImageThumbnailUrl }" />
            </a>
            <h4>
            <a class="title-link" data-bind="attr: { href: PostUrl }">
                <span data-bind="text: Title"></span>
            </a>
            </h4>
            <p>Posted by <span data-bind="text: Author"></span></p>
        </div>
    </div>
</div>

