@model DataRepository.Models.TwitterWidget

<!-- Side Widget Well -->
<div class="well">
    <a class="twitter-timeline" width="100%" href="@Model.AccountUrl" data-widget-id="@Model.WidgetId">@Model.Label</a>
</div>
